snippet rfc
export const $1 = () =>{
	return()
}
endsnippet


snippet npc
import {NextPage} from 'next';

const $1: NextPage = () =>{
	return()
}

export default $1
endsnippet


snippet ush
const [$1, set$2$1] = useState($3);
endsnippet

snippet ueh
useEffect(() =>{
	$1
}, [])
endsnippet


snippet lf
const $1 = () =>{

}
endsnippet
